@charset "utf-8";

/*! 01-btn-top.css */

body {margin:0;padding:0;background-color:#f4f4f4;body font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Source Sans Pro", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif; font-size: 16px; line-height: 1.5; color: #4d5256; font-weight: 400; -webkit-font-smoothing: antialiased; word-break: keep-all; }
.wrap {position:relative;padding:0;margin:0 auto;}
.h_tit {position:fixed;top:0;padding:30px 35px 20px;margin:0;text-align:left;font-weight:400;font-size:42px;line-height:42px;}
.top_fixed .h_tit {position:fixed;width:100%;border-bottom:1px solid #eee;background-color:rgba(200,200,200,0.8);color:violet;} 
.h_txt {padding:74px 30px 0;}
.top_fixed .h_txt {padding-top:74px;}
.txt {margin:10px;}
.fixed {position:fixed;top:0;left:0;}
.btn-top {display:none;position:fixed;bottom:10px;right:10px;padding:10px 5px;background:rgba(255,255,255,0.8);border:1px solid #666;text-decoration:none;}
.btn-top .txt{font-size:12px;color:#666;}


