@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none;vertical-align:middle;}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button {font-family:inherit;} 
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,var,I {font-style:normal;font-weight:normal}
em {font-style:normal;}

/* Style */
body {margin:0;padding:0;background-color:#fff;body font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Source Sans Pro", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif; font-size: 16px; line-height: 1.5; color: #4d5256; font-weight: 400; -webkit-font-smoothing: antialiased; word-break: keep-all; }
.wrap {width:500px;margin:60px auto;}
.h_tit {text-align:center;margin-bottom:30px;}

.input_file {position:relative;display:block;clear:both;*zoom:1;vertical-align:top;}
.input_file:after {display:block;clear:both;content:"";}
.input_file [type="file"] {overflow:hidden;position:absolute;top:-1px;z-index:-1;width:1px;height:1px;padding:0;margin:-1px;clip:rect(0,0,0,0);border:0 none;}
.input_file .file_name {float:left;width:68%;height:33px;background:#fff;border:1px solid #aaa;line-height:35px;text-indent:10px;font-size:14px;color:#333;}
.input_file .file_label {display:block;margin-left:70%;width:30%;height:35px;font-size:14px;line-height:35px;background-color:#4F8EF7;color:#fff;text-align:center;cursor:pointer;}
.input_file .file_upload {}
